{
  "plugins": [
    "babel-plugin-styled-components"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "preact-cli/babel",
          {
            "modules": "commonjs"
          }
        ]
      ]
    }
  }
}