<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>
		<% preact.title %>
	</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="description"
		content="Dynamic and motivated System DBA and Front-End Developer with vast IT experience. Skilled in maintaining databases, front-end development, analytical thinking and creative problem-solving. Adaptable and transformational team player with an ability to work independently and a willingness to go the extra mile.">
	<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
	<% preact.headEnd %>
</head>

<body>
	<% preact.bodyEnd %>
</body>

</html>